.dashboard {
    margin: 0 2rem;

    .dashboard_heading {
        margin-bottom: 2rem;

        &.main {
            margin-bottom: 0;
        }
    }

    .dashboart_section {
        box-shadow: $shadow-10;
        padding: 2rem 1rem;
        margin-top: 2rem;
        background: $light;
        border-radius: .25rem;

        &.transparent {
            background: transparent;
            box-shadow: none;
        }

        &.small {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    .dashboard_chart_wrapers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .dashboard_chart_wraper {
            width: 50%;

            &:nth-of-type(1) {
                padding-right: 1rem;
            }
            &::nth-of-type(2) {
                padding-left: 1rem;
            }

            .dashboard_chart_nav {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .dashboard_chart_link {
                    padding: 1rem 0;
                    width: 25%;
                    max-width: 3rem;

                    &.main {
                        padding: 1rem;
                        margin-right: .5rem;
                        width: auto;
                        max-width: none;
                    }
                }
            }
        }
    }

    .dashboard_date_range {
        position: absolute;
        margin-top: 15px;
        color: $dark-diabled;
        font-size: $font-size-sm;
        margin-left: 1rem;
    }
}