.navbar_sing_out {
  .navbar_sing_out_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $dark-secondary;

    transition: color $transition-duration;

    .navbar_sing_out_text {
        color: $dark-secondary;

        transition: color $transition-duration;
    }

    &:hover {
        color: $primary;

        .navbar_sing_out_text {
            color: $primary;
        }
    }
  }
}
