$chart_size: 10rem;
$chart_border_size: .75rem;

.progressbar_chart {
    background: $gray-100;
    width: $chart_size;
    height: $chart_size;
    border-radius: 50%;
    box-shadow: $shadow-10;
    position: relative;
    margin: 1.25rem auto 0;

    &::before {
        content: attr(data-percentage)'%';
        z-index: 5;
        position: absolute;
        top: calc(50% - .75rem);
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $font-size-xxl;
        color: $primary;
        white-space: nowrap;
    }

    &::after {
        content: attr(data-slogan);
        z-index: 5;
        position: absolute;
        top: calc(50% + .5rem);
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 2rem);
        font-size: $font-size-sm;
        color: $dark-diabled;
        text-align: center;
        line-height: 1.25;
    }

    .progress_chart_progress {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: $chart_size / 2 solid;
        

        &.part_1 {
            border-color: $primary transparent transparent;
            transform: rotate(-45deg);
            z-index: 1;
        }

        &.part_2 {
            border-color: $primary $primary transparent transparent;
            transform: rotate(45deg);
            z-index: 1;
            opacity: 0;
        }

        &.part_3 {
            border-color: $primary $primary transparent transparent;
            transform: rotate(45deg);
            z-index: 3;
            opacity: 0;
        }
    }

    $percentage: 3.6deg;

    @for $i from 1 through 25 {
        &[data-percentage="#{ $i }"] {
            .progress_chart_progress {
                &.part_1 {
                    transform: rotate(-45deg + $i * $percentage);
                }
            }
        }
        &[data-percentage="#{ 25 + $i }"] {
            .progress_chart_progress {
                &.part_2 {
                    transform: rotate(-45deg + $i * $percentage);
                    opacity: 1;
                }
            }
        }
    }

    @for $i from 1 through 50 {
        &[data-percentage="#{ 50 + $i }"] {
            .progress_chart_progress {
                &.part_2{
                    transform: rotate(45deg);
                    opacity: 1;
                }
                &.part_3{
                    transform: rotate(45deg + $i * $percentage);
                    opacity: 1;
                }
            }
        }
    }

    .progress_chart_mask {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: $chart_size / 2 solid;
        border-color: transparent $gray-100 transparent transparent;
        z-index: 2;
        transform: rotate(-135deg);
    }

    .progress_chart_inner {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        z-index: 4;
        transform: translate(-50%, -50%);
        background: $light;
        height: $chart_size - $chart_border_size;
        width: $chart_size - $chart_border_size;
    }


    &.show_value {

        &::before {
            content: attr(data-value);
        }

        &::after {
            content: attr(data-slogan) ' ('attr(data-percentage)'%)';
        }
    }
}