body {
  margin: 0;
  padding: 0; }
  body a {
    text-decoration: none; }
  body ul {
    list-style-type: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0; }

html {
  overflow-x: hidden; }

span,
p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
  line-height: 1.25; }

body {
  font-family: "Roboto", sans-serif; }

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }
  .app .sidebar-toggler-checkbox {
    display: none; }
  .app .app_page {
    width: calc(100% - 12rem) !important;
    background: white;
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s; }

@-webkit-keyframes dash-logo-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

@keyframes dash-logo-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

.sidebar {
  width: 12rem;
  background: #fafafa;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
  position: relative; }
  .sidebar .sidebar_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .5rem 0; }
    .sidebar .sidebar_section .sidebar_logo {
      margin: 1rem 0 .5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
      .sidebar .sidebar_section .sidebar_logo .sidebar_logo_wrapper .sidebar_logo_text {
        font-family: 'Leckerli One', cursive;
        font-size: 2.25rem;
        color: rgba(156, 39, 176, 0.3);
        position: relative;
        display: inline-block; }
        .sidebar .sidebar_section .sidebar_logo .sidebar_logo_wrapper .sidebar_logo_text::after {
          content: attr(data-text);
          color: red;
          position: absolute;
          left: -.25rem;
          top: -.25rem;
          text-shadow: -0.1rem -0.1rem #fafafa; }
        .sidebar .sidebar_section .sidebar_logo .sidebar_logo_wrapper .sidebar_logo_text::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 25%, #fafafa 25%, #fafafa 37.5%, transparent 37.5%, transparent 50%, #fafafa 50%, #fafafa 62.5%, transparent 62.5%, transparent 75%, #fafafa 75%, #fafafa 87.5%, transparent 87.5%);
          background: -o-linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 25%, #fafafa 25%, #fafafa 37.5%, transparent 37.5%, transparent 50%, #fafafa 50%, #fafafa 62.5%, transparent 62.5%, transparent 75%, #fafafa 75%, #fafafa 87.5%, transparent 87.5%);
          background: linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 25%, #fafafa 25%, #fafafa 37.5%, transparent 37.5%, transparent 50%, #fafafa 50%, #fafafa 62.5%, transparent 62.5%, transparent 75%, #fafafa 75%, #fafafa 87.5%, transparent 87.5%);
          background-size: 1rem 1rem;
          -webkit-animation: dash-logo-animation 5s infinite linear;
                  animation: dash-logo-animation 5s infinite linear; }

.sidebar_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem; }
  .sidebar_user .sidebar_user_avatar_wrapper {
    position: relative;
    height: 6rem;
    width: 6rem;
    -webkit-transition: height 0.2s, width 0.2s;
    -o-transition: height 0.2s, width 0.2s;
    transition: height 0.2s, width 0.2s; }
    .sidebar_user .sidebar_user_avatar_wrapper .sidebar_user_avatar {
      border-radius: 50%;
      -webkit-box-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
      max-width: 100%; }
    .sidebar_user .sidebar_user_avatar_wrapper .sidebar_user_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(156, 39, 176, 0.5);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      border-radius: 50%;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s; }
      .sidebar_user .sidebar_user_avatar_wrapper .sidebar_user_overlay .sidebar_user_icon {
        color: #fff;
        font-size: 2rem;
        -webkit-transform: scale(5);
            -ms-transform: scale(5);
                transform: scale(5);
        opacity: 0;
        -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
        transition: opacity 0.2s, -webkit-transform 0.2s;
        -o-transition: opacity 0.2s, transform 0.2s;
        transition: opacity 0.2s, transform 0.2s;
        transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s; }
        .sidebar_user .sidebar_user_avatar_wrapper .sidebar_user_overlay .sidebar_user_icon:hover {
          opacity: 1;
          -webkit-transform: scale(1);
              -ms-transform: scale(1);
                  transform: scale(1); }
      .sidebar_user .sidebar_user_avatar_wrapper .sidebar_user_overlay:hover {
        opacity: 1; }
  .sidebar_user .sidebar_user_name_wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: .75rem; }
    .sidebar_user .sidebar_user_name_wraper .sidebar_user_name {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.54);
      text-decoration: none;
      -webkit-transition: color 0.2s, font-size 0.2s;
      -o-transition: color 0.2s, font-size 0.2s;
      transition: color 0.2s, font-size 0.2s; }
      .sidebar_user .sidebar_user_name_wraper .sidebar_user_name:hover, .sidebar_user .sidebar_user_name_wraper .sidebar_user_name:focus {
        color: #9c27b0; }
    .sidebar_user .sidebar_user_name_wraper .sidebar_user_status {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: rgba(0, 0, 0, 0.38);
      font-size: .8rem;
      -webkit-transition: font-size 0.2s;
      -o-transition: font-size 0.2s;
      transition: font-size 0.2s; }
      .sidebar_user .sidebar_user_name_wraper .sidebar_user_status::after {
        content: '';
        margin-left: .25rem;
        width: .4rem;
        height: .4rem;
        background: rgba(0, 0, 0, 0.38);
        border-radius: 50%; }
      .sidebar_user .sidebar_user_name_wraper .sidebar_user_status.sidebar_user_status_success {
        color: #00a800; }
        .sidebar_user .sidebar_user_name_wraper .sidebar_user_status.sidebar_user_status_success::after {
          background: #00a800; }
  .sidebar_user.slim {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .sidebar_user.slim .sidebar_user_avatar_wrapper {
      height: 2rem;
      width: 2rem; }
      .sidebar_user.slim .sidebar_user_avatar_wrapper .sidebar_user_overlay .sidebar_user_icon {
        font-size: 1rem; }
    .sidebar_user.slim .sidebar_user_name_wraper {
      margin-top: .25rem;
      margin-left: .5rem;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .sidebar_user.slim .sidebar_user_name_wraper .sidebar_user_name {
        font-weight: 400; }
      .sidebar_user.slim .sidebar_user_name_wraper .sidebar_user_status {
        margin: 0;
        position: relative; }
        .sidebar_user.slim .sidebar_user_name_wraper .sidebar_user_status::after {
          position: absolute;
          left: -1rem;
          bottom: 0;
          margin-left: 0;
          border: 1px solid #fafafa; }

.sidebar_nav {
  width: 100%; }
  .sidebar_nav .sidebar_nav_header {
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.38); }
  .sidebar_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .sidebar_nav .sidebar_nav_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9rem;
    padding: 0 1rem;
    height: 2.5rem;
    position: relative;
    -webkit-transition: width 0.2s, blackground 0.2s;
    -o-transition: width 0.2s, blackground 0.2s;
    transition: width 0.2s, blackground 0.2s; }
    .sidebar_nav .sidebar_nav_item.sidebar_nav_item_primary::before {
      content: "";
      width: 100%;
      height: 100%;
      background: #9c27b0;
      position: absolute;
      left: 100%;
      top: 0;
      opacity: 0; }
    .sidebar_nav .sidebar_nav_item.sidebar_nav_item_primary:hover::before, .sidebar_nav .sidebar_nav_item.sidebar_nav_item_primary:focus::before {
      left: 0;
      opacity: 1;
      width: 0.2rem;
      -webkit-transition: left 0.1s, width 0.15s 0.1s, opacity 1s;
      -o-transition: left 0.1s, width 0.15s 0.1s, opacity 1s;
      transition: left 0.1s, width 0.15s 0.1s, opacity 1s;
      position: 0; }
    .sidebar_nav .sidebar_nav_item:hover .sidebar_nav_icon,
    .sidebar_nav .sidebar_nav_item:hover .sidebar_nav_title, .sidebar_nav .sidebar_nav_item:focus .sidebar_nav_icon,
    .sidebar_nav .sidebar_nav_item:focus .sidebar_nav_title {
      color: #9c27b0; }
    .sidebar_nav .sidebar_nav_item .sidebar_nav_icon_wraper {
      position: relative;
      margin-right: 1rem;
      width: 1.5rem; }
    .sidebar_nav .sidebar_nav_item .sidebar_nav_icon {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.54);
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s; }
    .sidebar_nav .sidebar_nav_item .sidebar_nav_title {
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s; }
    .sidebar_nav .sidebar_nav_item .sidebar_nav_notification {
      font-size: 0.625rem;
      font-weight: 400;
      color: #fff;
      background: #9c27b0;
      padding: 0.25rem 0.5rem;
      border-radius: .6rem;
      position: absolute;
      right: 1rem; }
    .sidebar_nav .sidebar_nav_item.sidebar_nav_item_secondary:hover .sidebar_nav_icon,
    .sidebar_nav .sidebar_nav_item.sidebar_nav_item_secondary:hover .sidebar_nav_title, .sidebar_nav .sidebar_nav_item.sidebar_nav_item_secondary:focus .sidebar_nav_icon,
    .sidebar_nav .sidebar_nav_item.sidebar_nav_item_secondary:focus .sidebar_nav_title {
      color: #d68100; }
    .sidebar_nav .sidebar_nav_item.sidebar_nav_item_third:hover .sidebar_nav_icon,
    .sidebar_nav .sidebar_nav_item.sidebar_nav_item_third:hover .sidebar_nav_title, .sidebar_nav .sidebar_nav_item.sidebar_nav_item_third:focus .sidebar_nav_icon,
    .sidebar_nav .sidebar_nav_item.sidebar_nav_item_third:focus .sidebar_nav_title {
      color: #7ac905; }

.sidebar-toggler-checkbox:checked + .sidebar {
  width: 3.5rem; }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar-toggler {
    height: 3rem;
    width: 100%; }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar-toggler-icon::before {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar-toggler-icon::after {
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar_logo_wrapper {
    height: 0;
    overflow: hidden; }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar_user {
    padding: .25rem; }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar_user_avatar_wrapper {
    height: 3rem;
    width: 3rem; }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar_user_name,
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar_user_status {
    font-size: 0.625rem; }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar_nav_header {
    width: 0; }
    .sidebar-toggler-checkbox:checked + .sidebar .sidebar_nav_header::before {
      content: attr(data-toggled-short);
      text-transform: uppercase;
      margin-right: 2rem; }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar_nav_item {
    z-index: 2;
    overflow: hidden;
    width: 1.4rem; }
    .sidebar-toggler-checkbox:checked + .sidebar .sidebar_nav_item:hover, .sidebar-toggler-checkbox:checked + .sidebar .sidebar_nav_item:focus {
      width: 10rem;
      background: #fafafa;
      -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
              box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15); }
  .sidebar-toggler-checkbox:checked + .sidebar .sidebar_nav_notification {
    right: .25rem;
    top: .25rem;
    padding: .1rem .25rem;
    font-size: .5rem;
    border-radius: .3rem; }

.sidebar-toggler-checkbox:checked ~ .app_page {
  width: calc(100% - 3.5rem) !important; }

.sidebar-toggler {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer; }
  .sidebar-toggler:hover .sidebar-toggler-icon::after, .sidebar-toggler:hover .sidebar-toggler-icon::before {
    background: #9c27b0; }
  .sidebar-toggler .sidebar-toggler-icon {
    width: .75rem;
    height: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .sidebar-toggler .sidebar-toggler-icon::before, .sidebar-toggler .sidebar-toggler-icon::after {
      content: '';
      position: absolute;
      width: .75rem;
      height: .15rem;
      background: #e0e0e0;
      -webkit-transition: background 0.2s, -webkit-transform 0.4s;
      transition: background 0.2s, -webkit-transform 0.4s;
      -o-transition: transform 0.4s, background 0.2s;
      transition: transform 0.4s, background 0.2s;
      transition: transform 0.4s, background 0.2s, -webkit-transform 0.4s; }
    .sidebar-toggler .sidebar-toggler-icon::before {
      top: 0;
      -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
              transform: rotate(-30deg); }
    .sidebar-toggler .sidebar-toggler-icon::after {
      bottom: 0;
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }

.navbar-search-input {
  position: absolute;
  z-index: 1;
  opacity: 0;
  left: 50%;
  top: 1.5rem;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #9c27b0;
  font-size: 1.5rem;
  color: #9c27b0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2rem;
  padding: 0 2rem;
  -webkit-transition: width 0.2s, top 0.2s, opacity 0.2s;
  -o-transition: width 0.2s, top 0.2s, opacity 0.2s;
  transition: width 0.2s, top 0.2s, opacity 0.2s; }
  .navbar-search-input:focus {
    width: calc(100% - 26rem);
    top: 5rem;
    outline: none;
    opacity: 1; }
    .navbar-search-input:focus + .app {
      -webkit-filter: blur(0.5rem);
              filter: blur(0.5rem);
      pointer-events: none; }

.navbar-search {
  height: 2rem;
  width: 2rem;
  position: relative; }
  .navbar-search .navbar-search-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 2rem;
    line-height: 1.25;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: font-size 0.2s, color 0.2s, text-shadow 0.2s;
    -o-transition: font-size 0.2s, color 0.2s, text-shadow 0.2s;
    transition: font-size 0.2s, color 0.2s, text-shadow 0.2s; }
  .navbar-search .navbar-search-slogan {
    color: rgba(0, 0, 0, 0.54);
    line-height: 1.25;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: left 0.2s, opacity 0.2s, color 0.2s, text-shadow 0.2s;
    -o-transition: left 0.2s, opacity 0.2s, color 0.2s, text-shadow 0.2s;
    transition: left 0.2s, opacity 0.2s, color 0.2s, text-shadow 0.2s; }
  .navbar-search .navbar-search-label-icon {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    overflow: hidden;
    margin: -1.0rem; }
    .navbar-search .navbar-search-label-icon:hover .navbar-search-icon {
      color: #9c27b0;
      text-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
      font-size: calc(2rem + 50%); }
    .navbar-search .navbar-search-label-icon:hover .navbar-search-slogan {
      color: #9c27b0;
      text-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
      left: 2.25rem;
      opacity: 1; }

.navbar {
  background: #fff;
  height: 3.5rem;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar .navbar-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%; }
    .navbar .navbar-wraper .nav_section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 1rem;
      height: 100%; }

.navbar_lang_switcher {
  position: relative;
  height: 100%; }
  .navbar_lang_switcher:hover .navbar_lang_switcher_flag_wrapper {
    height: 3rem;
    opacity: 1; }
  .navbar_lang_switcher .navbar_lang_switcher_flag_list {
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
    margin-left: -1rem; }
  .navbar_lang_switcher .navbar_lang_switcher_flag_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    opacity: 0;
    -webkit-transition: height 0.2s, opacity 0.2s, -webkit-box-shadow 0.2s;
    transition: height 0.2s, opacity 0.2s, -webkit-box-shadow 0.2s;
    -o-transition: height 0.2s, opacity 0.2s, box-shadow 0.2s;
    transition: height 0.2s, opacity 0.2s, box-shadow 0.2s;
    transition: height 0.2s, opacity 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s; }
    .navbar_lang_switcher .navbar_lang_switcher_flag_wrapper:not(.active) {
      padding: 0 1rem; }
      .navbar_lang_switcher .navbar_lang_switcher_flag_wrapper:not(.active):hover {
        background: #f5f5f5;
        -webkit-box-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
                box-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2); }
    .navbar_lang_switcher .navbar_lang_switcher_flag_wrapper.active {
      height: 100%;
      opacity: 1; }
      .navbar_lang_switcher .navbar_lang_switcher_flag_wrapper.active::after {
        content: 'keyboard_arrow_down';
        font-family: 'Material Icons';
        color: rgba(0, 0, 0, 0.54); }
    .navbar_lang_switcher .navbar_lang_switcher_flag_wrapper .lang_switcher_country_name {
      white-space: nowrap; }
    .navbar_lang_switcher .navbar_lang_switcher_flag_wrapper .navbar_lang_switcher_flag {
      width: 1.74rem;
      height: 1.75rem;
      border-radius: 50%;
      -webkit-box-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.27rem 1.25rem rgba(0, 0, 0, 0.2);
      margin-right: .5rem; }
      .navbar_lang_switcher .navbar_lang_switcher_flag_wrapper .navbar_lang_switcher_flag.poland {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(51%, red), to(red));
        background: -webkit-linear-gradient(top, white 50%, red 51%, red 100%);
        background: -o-linear-gradient(top, white 50%, red 51%, red 100%);
        background: linear-gradient(to bottom, white 50%, red 51%, red 100%); }

.navbar_sing_out .navbar_sing_out_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.54);
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }
  .navbar_sing_out .navbar_sing_out_button .navbar_sing_out_text {
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
  .navbar_sing_out .navbar_sing_out_button:hover {
    color: #9c27b0; }
    .navbar_sing_out .navbar_sing_out_button:hover .navbar_sing_out_text {
      color: #9c27b0; }

/*# sourceMappingURL=styles.css.map */
